{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "ConnectionStrings": {
    "Ris.MerchantId": "MERCHANT_ID",
    "Ris.API.Key": "API_KEY",
    "Ris.Config.Key": "",
    "Ris.Url": "https://risk.test.kount.net",
    "Ris.Version": "0720",
    "Ris.CertificateFile": "certificate.pfx",
    "Ris.PrivateKeyPassword": "11111111111111111",
    "Ris.Connect.Timeout": "10000",
    "LOG.LOGGER": "SIMPLE",
    "LOG.SIMPLE.LEVEL": "DEBUG",
    "LOG.SIMPLE.ELAPSED": "ON",
    "Ris.EnableMigrationMode": "true",
    "PaymentsFraud.ClientId": "CLIENT_ID",
    "PaymentsFraud.Auth.Url": "https://login.kount.com/oauth2/aus12zvb2vueTvA7F0h8/v1/token",
    "PaymentsFraud.Api.Url": "https://api.kount.com/commerce/ris",
    "PaymentsFraud.Api.Key": "API_KEY"
  }
}
